.container{
  display: flex;
  justify-content: center;
  align-items: center;
}


.time-sets{
  display: grid;
  grid-template-columns: 50px 200px 50px;
  justify-items: center;
  align-items: center;
}
.display{
  margin: 100px;
  font-size: xx-large;
}
.heading {
  display: flex;
  align-items:center;
  text-align: center;
}